footer.footer
	.container
		.row.mt-5
			.col-md-4.mt-5
				h4 NEWSLETTER
				.row.mt-4.new-letter
					.col
						p 156 Nguyễn Văn Thụ, 1 District, TP.HCM
						p 028.6273.0815
						a(href="#") Info@canhcam.vn
			.col-md-4.mt-5
				h4 PRODUCTS
				.row.mt-4.product
					.col-md-6
						p Ice Cream
						p Hera
						p Saigon Night
						p Purenp
					.col-md-6
						p Moisture
						p Stylish
						p Natural
			.col-md-4.mt-5
				input.form-control(type="text" placeholder="ENTER YOUR EMAIL..")
				hr
				p Subscribe to receive updates, access to exclusive deals, and more.
				.icons
					ul
						li
							a.icon(href="#")
								i.fa.fa-facebook
						li
							a.icon(href="#")
								i.fa.fa-instagram
						li
							a.icon(href="#")
								i.fa.fa-twitter
		hr
		.row
			.col.copyright
				p Copyright 2018 ABC. All right reserved. Design by Bảo Nguyên Dâm Dâm:v

