header
	.container-fluid
		.row
			.col-md-4
				figure
					img.img-fluid.logo(src="./img/logo.png", alt="")
			.col-md-8
				.nav.menu
					ul
						li
							a(href="#") ABOUT US
						li
							a(href="#") ALL PRODUCTS
						li
							a(href="#") BEST SELLER
						li
							a(href="#") EVENT
						li
							a(href="#") PHOTO REVIEW
						li
							a(href="#") CONTACT US